<div id="logreg-forms">
    <div class="form-signin">
        <img  src="../../../assets/images/logo.png" class="img-thumbnail" alt="">
        <br>
        <br>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        
        <button (click)="login()" class="btn btn-primary btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>
    </div>
    <br>
        
</div>