<nb-card>
    <nb-card-header>
      Inspections
    </nb-card-header>
  
    <nb-card-body>
        <div class="form-row">
            <select class="col-md-1 ml-2 form-control" name="" id="status">
                <option [value]="f" *ngFor="let f of filter">{{f}}</option>
              </select>
        </div>
        <br>
        <table class="table table-bordered table-inverse">
            <thead class="thead-inverse">
                <tr>
                    <th>
                        <input disabled type="checkbox" name="" id="">
                    </th>
                    <th>Tenant Name</th>
                    <th>Phone Number</th>
                    <th>Visit Date</th>
                    <th>Visit Time</th>
                    <th>Property</th>
                    <th>Room#</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let insp of inspections$ | async">
                        <td scope="row">
                            <input type="checkbox">
                        </td>
                        <td>{{insp.name}}</td>
                        <td>{{insp.phone}}</td>
                        <td>{{insp.date|date}}</td>
                        <td>{{insp.date|date:'shortTime'}}</td>
                        <td>{{insp.room?.type}}</td>
                        <td>{{insp.room?.roomNumber}}</td>
                        <td>{{insp.room?.location}}</td>
                        <td>
                            <span *ngIf="insp.status===tranStatus.PAID" class="badge badge-success">{{insp.status}}</span>
                            <span *ngIf="insp.status===tranStatus.FAILED" class="badge badge-danger">{{insp.status}}</span>
                            <span *ngIf="insp.status===tranStatus.PENDING" class="badge badge-warning">{{insp.status}}</span>
                        </td>
                        <td>{{insp.createdAt|date}}</td>
                    </tr>
                </tbody>
        </table>
    </nb-card-body>
  </nb-card>