<nb-card>
    <nb-card-header>
      All Tenants
    </nb-card-header>
  
    <nb-card-body>
        <div class="form-row">
            <select class="col-md-1 ml-2 form-control" id="status" (change)="onFilter($event)">
                <option [value]="f" *ngFor="let f of filter">{{f}}</option>
              </select>
        </div>
        <br>
        <table class="table table-bordered table-inverse">
            <thead class="thead-inverse">
                <tr>
                    <th>Tenant Name</th>
                    <th>Gender</th>
                    <th>Occupation</th>
                    <th>Phone Number</th>
                    <th>Approved</th>
                    <th>Blocked</th>
                    <th>Date Joined</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tenant of tenants$ | async">
                        <td>{{tenant.firstname+' '+tenant.lastname}}</td>
                        <td>{{tenant.gender}}</td>
                        <td>{{tenant.occupation}}</td>
                        <td>{{tenant.phone}}</td>
                        <td>
                            <span *ngIf="!tenant.approved" class="badge badge-danger">NO</span>
                            <span *ngIf="tenant.approved" class="badge badge-success">YES</span>
                        </td>
                        <td>
                            <span *ngIf="!tenant.blocked" class="badge badge-danger">NO</span>
                            <span *ngIf="tenant.blocked" class="badge badge-success">YES</span>
                        </td>
                        <td>{{tenant.createdAt|date}}</td>
                        <td class="text-center">
                            <button (click)="approve(tenant)" class="btn btn-success"><span class="fa fa-check-circle"></span></button>
                            <button (click)="view(tenant,'details')" class="btn btn-info ml-1"><span class="fa fa-eye"></span></button>
                            <button (click)="block(tenant)" class="btn btn-danger ml-1"><span class="fa fa-trash"></span></button>
                        </td>
                    </tr>
                </tbody>
        </table>
    </nb-card-body>
  </nb-card>