<div class="row" [formGroup]="formGroup">
    <div class="col-md-3">
        <nb-card>
            <nb-card-header>
                Broadcast Sms
            </nb-card-header>
            <nb-card-body>
                <div class="form-group" formGroupName="sms">
                    <label for="">Message</label>
                    <textarea formControlName="message" class="form-control" name="" id="" cols="30" rows="10"></textarea>
                </div>
                <button (click)="send()" [disabled]="loading" class="btn btn-primary">Send</button>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-3" formGroupName="settings">
        <nb-card>
            <nb-card-header>
                Exchange Rate
            </nb-card-header>
            <nb-card-body *ngIf="state.settings$ | async as settings">
                <div class="row">
                    <div class="col-md-6">
                        <label for="">DOLLAR RATE</label>
                        <h1>{{ settings.dollarRate | currency:'$' }}</h1>
                    </div>
                    <div class="col-md-6">
                        <label for="">SMS BALANCE</label>
                        <h1>{{ settings.smsBalance || 0 }}</h1>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                  <label for="">Dollar Rate</label>
                  <input formControlName="dollarRate" type="text" name="" id="" class="form-control" placeholder="0.00" aria-describedby="helpId">
                </div>
                <button (click)="saveSettings()" type="button" name="" id="" class="btn btn-primary">Save</button>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-3">
        <nb-card>
            <nb-card-header>
                Utilities
            </nb-card-header>
            <nb-card-body>
                <div *ngFor="let util of state.utilities$ | async" class="list-group-item  flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{util.amount | currency:'GHS'}}</h5>
                      <button (click)="deleteUtility(util._id)" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                    <p class="mb-1">{{util.type}}</p>
                    <small>{{ util.createdAt | date }}</small>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-3" formGroupName="utility">
        <nb-card>
            <nb-card-header>
                Add Utility
            </nb-card-header>
            <nb-card-body>
                <div class="form-group">
                  <label for="">Utility Type</label>
                  <input formControlName="type" type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                </div>
                <div class="form-group">
                    <label for="">Utility Amount</label>
                    <input formControlName="amount" type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
                  <button (click)="saveUtility()" type="button" name="" id="" class="btn btn-primary">Save</button>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-3">
        <nb-card>
            <nb-card-header>
                Sent Messages
            </nb-card-header>
            <nb-card-body>
                <div class="list-group" style="max-height: 50em;">
                    <div *ngFor="let sms of state.messages$ | async" class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <!-- <h5 class="mb-1">List group item heading</h5> -->
                        <small>{{sms.createdAt | date}}</small>
                      </div>
                      <p class="mb-1">{{sms.message}}</p>
                    </div>
                  </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-3">
        <nb-card>
            <nb-card-header>
                Notification Contact Numbers
            </nb-card-header>
            <nb-card-body>
                <div class="list-group" style="max-height: 50em;" *ngIf="state.settings$ | async as settings">
                    <div *ngFor="let cont of settings.receive_sms_alerts" class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1">{{cont}}</p>
                        <small>
                            <button class="btn btn-danger rounded-circle" (click)="deleteAccount(cont)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </small>
                      </div>
                    </div>
                  </div>
                  <br>
                <div class="form-group" formGroupName="contacts">
                  <label for="">Enter number to receive notifications</label>
                  <input maxlength="10" formControlName="contact" type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                  <button class="btn btn-success btn-lng" (click)="saveAccount()">
                      add+
                  </button>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>