<nb-card>
    <nb-card-header>
      Available Rooms
    </nb-card-header>
  
    <nb-card-body>
        <br>
        <table class="table table-bordered table-inverse">
            <thead class="thead-inverse">
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Room #</th>
                    <th>Size</th>
                    <th>Price</th>
                    <th>Price (GHS)</th>
                    <th>Apartment Type</th>
                    <th>Location</th>
                    <th class="col-md-3">Details</th>
                    <th class="text-center">Occupied</th>
                    <th>Date Added</th>
                    <th class="text-right">Action</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let apt of roomState.apartments$ |  async;let i=index;">
                        <td class="text-center">{{i+1}}</td>
                        <td class="text-center">
                            <span class="badge badge-info">{{apt.roomNumber}}</span>
                        </td>
                        <td>{{ apt.size }}</td>
                        <td>{{apt.price | currency: apt.currency}}</td>
                        <td>{{apt.price * (settings.settings$ | async)?.dollarRate | currency: 'GHS'}}</td>
                        <td>{{apt.type}}</td>
                        <td>{{apt.location}}</td>
                        <td class="col-md-3">{{apt.details}}</td>
                        <td class="text-center">
                            <span *ngIf="apt.occupied" class="badge badge-danger">YES</span>
                            <span *ngIf="!apt.occupied" class="badge badge-success">NO</span>
                        </td>
                        <td>{{apt.createdAt | date }}</td>
                        <td class="text-right">
                            <button class="btn btn-info" (click)="view(apt,paths.DETAILS)"><span class="fa fa-eye"></span></button>
                            <button class="btn btn-warning ml-1" (click)="view(apt,paths.EDIT)"><span class="fa fa-edit"></span></button>
                            <button class="btn btn-danger ml-1" (click)="deleteRoom(apt._id)"><span class="fa fa-trash"></span></button>
                        </td>
                    </tr>
                </tbody>
        </table>
    </nb-card-body>
  </nb-card>