<div class="row">
    <div class="col-md-4" [formGroup]="formGroup">
        <nb-card>
            <nb-card-header>Add Rent</nb-card-header>
            <nb-card-body>
                <div class="form-group">
                    <label for="">Total Amount</label>
                    <input 
                        formControlName="amount" 
                        type="text"  
                        class="form-control" 
                        placeholder="GHS0" 
                    >
                </div>
                <div class="form-group">
                    <label for="costPerMonth">Cost Per Month</label>
                    <input 
                        formControlName="costPerMonth" 
                        type="text" 
                        class="form-control" 
                        placeholder="GHS0/Month"
                        id="costPerMonth"
                    >
                </div>
                <div class="form-group">
                    <label for="">Properties</label>
                    <select class="form-control" (change)="onProperty($event.target.value)">
                        <option value="">Choose Property</option>
                        <option [value]="property | json" *ngFor="let property of properties.apartments$ | async">
                            {{ property.type+'  '+property.location+'  '+' room  '+property.roomNumber }}
                        </option>
                      </select>
                </div>
                <div class="form-group">
                    <label for="">Rents</label>
                    <select formControlName="rentType" class="form-control" name="" id="">
                        <option value="">Choose Rent Type</option>
                        <option [value]="type" *ngFor="let type of rentType">
                            {{type}}
                        </option>
                      </select>
                </div>
                <div class="form-group">
                    <label for="">Tenants</label>
                    <select formControlName="tenant" class="form-control" name="" id="">
                        <option value="">Choose Tenant</option>
                        <option [value]="tenant._id" *ngFor="let tenant of tenants.tenants$ | async">
                            {{ tenant.firstname+' '+tenant.lastname }}
                        </option>
                      </select>
                </div>
                <div class="form-group">
                    <label for="">Duration</label>
                    <select (change)="onDuration($event.target.value)" class="form-control">
                        <option value="">Choose Duration</option>
                        <option [value]="d.value" *ngFor="let d of duration">
                            {{d.label}}
                        </option>
                      </select>
                </div>
                <div class="form-group">
                    <label for="">Payment Method</label>
                    <select formControlName="paymentType" class="form-control" name="" id="">
                        <option value="">Payment Method</option>
                        <option [value]="p" *ngFor="let p of paymentType">
                            {{p}}
                        </option>
                      </select>
                </div>
                <br>
                <button  [ngSwitch]="loading" [disabled]="loading" (click)="save()" (keyup.enter)="save()" class="btn btn-primary">
                    <i *ngSwitchCase="true" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                    <span *ngSwitchCase="false">Save</span>
                  </button>
            </nb-card-body>
          </nb-card>
    </div>
</div>