<div class="row" [formGroup]="formGroup">
    <div class="col-md-4">
        <nb-card>
            <nb-card-header>
                Pay Invoice
            </nb-card-header>
            <nb-card-body>
                <div class="form-group">
                    <label for="">Mobile Money Number</label>
                    <input 
                        formControlName="accountNumber" 
                        type="text"  
                        class="form-control" 
                        placeholder="momo number"
                    >
                  </div>
                  <div class="form-group">
                    <label for="">Network</label>
                    <select formControlName="accountIssuer" class="form-control" name="" id="">
                      <option value="mtn">Mtn</option>
                      <option value="vodafone">Vodafone Cash</option>
                      <option value="airteltigo">AirtelTigo</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="">Amount</label>
                    <input 
                        formControlName="amount" 
                        type="text" 
                        class="form-control" 
                        placeholder="amount"
                    >
                  </div>
                  <br>
                  <button [ngSwitch]="loading" [disabled]="loading" (click)="send()" class="btn btn-primary">
                      <i *ngSwitchCase="true" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                      <span *ngSwitchCase="false">Send</span>
                  </button>
            </nb-card-body>
        </nb-card>
    </div>
</div>