<div class="row" [formGroup]="formGroup">
    <div class="col-md-4">
        <nb-card>
            <nb-card-header>Add Room</nb-card-header>
            <nb-card-body>
                <div class="form-group">
                  <label for="">Location</label>
                  <input 
                    formControlName="location" 
                    type="text"  
                    class="form-control" 
                    placeholder="Location"
                  >
                </div>
                <div class="form-group">
                  <label for="">Address</label>
                  <input 
                    formControlName="address" 
                    type="text" 
                    class="form-control" 
                    placeholder="Address"
                  >
                </div>
                <div class="form-group">
                  <label for="">Apartment Size</label>
                  <input 
                    formControlName="size" 
                    type="text" 
                    class="form-control" 
                    placeholder="Size"
                  >
                </div>
                <div class="form-group">
                  <label for="">Apartment Number</label>
                  <input 
                    formControlName="roomNumber" 
                    type="text" 
                    class="form-control" 
                    placeholder="Room number"
                  >
                </div>
                <div class="form-group">
                  <label for="">Price per month</label>
                  <input formControlName="price" type="text" class="form-control" placeholder="Price/Month">
                </div>
                <div>
                  <label for="">Inspection Amount</label>
                  <input formControlName="inspectionAmount" type="text" class="form-control" placeholder="Inspection amount">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="">Furnishing</label>
                      <select  formControlName="furnishing" class="form-control" name="" id="">
                        <option value=""></option>
                        <option value="SEMI FURNISHED">Semi Furnished</option>
                        <option value="FULLY FURNISHED">Fully Furnished</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="">Accomodation</label>
                      <select formControlName="accomodation" class="form-control" name="" id="">
                        <option value=""></option>
                        <option value="SHORT STAY">SHORT STAY</option>
                        <option value="LONG STAY">LONG STAY</option>
                        <option value="FOR SALE">FOR SALE</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="">Currency</label>
                      <select formControlName="currency" class="form-control" name="" id="">
                        <option></option>
                        <option value="GHS">Ghana Cedis</option>
                        <option value="USD">US Dollars</option>
                      </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="">Apartment Type</label>
                      <select formControlName="type" class="form-control" name="" id="">
                        <option value=""></option>
                        <option value="CHAMBER AND HALL">CHAMBER AND HALL</option>
                        <option value="2 BEDROOMS">2 BEDROOMS</option>
                        <option value="1 BEDROOMS">1 BEDROOM</option>
                        <option value="SINGLE ROOM">SINGLE ROOM</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Condition</label>
                        <select formControlName="condition" class="form-control" name="" id="">
                          <option value=""></option>
                          <option value="NEW">New</option>
                          <option value="PRE-OCCUPIED">Pre Occupied</option>
                        </select>
                      </div>
                </div>
            </nb-card-body>
          </nb-card>
          <button (click)="save()" class="btn btn-primary" *ngIf="path===pathTypes.ADD || path===pathTypes.EDIT">
            <div *ngIf="loading" class="spinner-border"></div>
            <span *ngIf="!loading">Save room</span>
          </button>
    </div>
    <div class="col-md-3">
      <nb-card>
        <nb-card-header>Room Description</nb-card-header>
        <nb-card-body>
          <div class="row">
            <textarea formControlName="details" class="form-control" name="" id="" cols="40" rows="10"></textarea>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card>
            <nb-card-header>
              <div class="row">
                <div class="col-md-6">
                  Add Photos
                </div>
                <div class="col-md-6">
                  <button *ngIf="path===pathTypes.ADD || path===pathTypes.EDIT" (click)="picker.click()" class="btn btn-primary float-right">
                    add images+
                  </button>
                </div>
              </div>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                  <div class="card col-md-6 mb-1" style="width: 18rem;" *ngFor="let image of formGroup.get('images').value">
                    <img *ngIf="path===pathTypes.DETAILS || path===pathTypes.EDIT" [src]="image" alt="..." class="card-img-top">
                        <img *ngIf="path===pathTypes.ADD" [src]="image.data" alt="..." class="card-img-top">
                    <div class="card-body">
                      <button *ngIf="path===pathTypes.ADD || path===pathTypes.EDIT" (click)="removeImage(image)" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
            </nb-card-body>
            <br>
            <input accept="image/*" (change)="onPicker($event.target.files[0])" type="file" hidden #picker>
          </nb-card>
    </div>
</div>