<div class="row">
    <div class="col-md-4" [formGroup]="formGroup">
        <nb-card>
            <nb-card-header>Approve Rent</nb-card-header>
            <nb-card-body>
                <div class="card" style="width: 28rem;" *ngIf="rentDetails">
                    <img class="card-img-top" height="200rem;" [src]="rentDetails.room?.images[1]" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">{{rentDetails.room?.location}} <span class="badge badge-warning">{{rentDetails.amount | currency:'GHS'}}</span> <span class="badge badge-info">{{rentDetails.duration}} Months</span></p>
                      <p class="card-text">Room <span class="badge badge-info">{{rentDetails.room?.roomNumber}}</span></p>
                      <p class="card-text">{{rentDetails.room?.address}}</p>
                    </div>
                  </div>
                  <br>
                <div class="form-group">
                    <label for="">Tenants</label>
                    <select (change)="onRent($event.target.value)" class="form-control" name="" id="">
                        <option value="">Choose Rent</option>
                        <option [value]="rent | json" *ngFor="let rent of rents.pending$ | async">
                            {{rent.tenant?.firstname+' '+rent.tenant?.lastname+' '+rent.room?.location}}
                        </option>
                      </select>
                </div>
                <div class="form-group">
                    <label for="">Start Date</label>
                    <input formControlName="startDate" class="form-control" type="date" name="" id="">
                </div>
                <div class="form-group">
                    <label for="">End Date</label>
                    <input formControlName="endDate" class="form-control" type="date" name="" id="">
                </div>
                <button [disabled]="loading" (click)="approve()" class="btn btn-primary">
                    <span *ngIf="!loading">Approve</span>
                    <i *ngIf="loading" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                </button>
            </nb-card-body>
          </nb-card>
    </div>
</div>