<nb-card>
    <nb-card-header>
      All Rents
    </nb-card-header>
  
    <nb-card-body>
        <div class="form-row">
            <button class="col-md-1 ml-2 btn btn-primary" (click)="clearSearch()">Clear Search</button>
            <select class="col-md-1 ml-2 form-control" id="status" (change)="onFilter($event)">
                <option [value]="f" *ngFor="let f of filter">{{f}}</option>
              </select>
        </div>
        <br>
        <table class="table table-bordered table-inverse">
            <thead class="thead-inverse">
                <tr>
                    <th>
                        <input disabled type="checkbox" name="" id="">
                    </th>
                    <th>Tenant Name</th>
                    <th>Apartment Name</th>
                    <th class="text-center">Apartment #</th>
                    <th class="text-center">Period</th>
                    <th>Accomodation Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Date Added</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rent of rents$ | async;let i=index;">
                        <td scope="row">
                            <input type="checkbox">
                        </td>
                        <td>{{rent.tenant?.firstname}}</td>
                        <td>{{rent.room?.type}}</td>
                        <td class="text-center col-md-1">Room {{rent.room?.roomNumber}}</td>
                        <td class="text-center col-md-1">{{rent.duration}} Months</td>
                        <td>{{rent.accomodation}}</td>
                        <td>{{rent.startDate | date}}</td>
                        <td>{{rent.endDate | date}}</td>
                        <td>
                            <span class="badge badge-warning" *ngIf="rent.status===tranStatus['PENDING PAYMENT']">{{rent.status}}</span>
                            <span class="badge badge-danger" *ngIf="rent.status===tranStatus.EXPIRED">{{rent.status}}</span>
                            <span class="badge badge-success" *ngIf="rent.status===tranStatus.ACTIVE">{{rent.status}}</span>
                            <span class="badge badge-danger" *ngIf="rent.status===tranStatus.REVOKED">{{rent.status}}</span>
                            <span class="badge badge-info" *ngIf="rent.status===tranStatus['PENDING APPROVAL']">{{rent.status}}</span>
                        </td>
                        <td>{{rent.createdAt|date}}</td>
                    </tr>
                </tbody>
        </table>
    </nb-card-body>
  </nb-card>