<nb-card>
    <nb-card-header>
      Payment Transactions
    </nb-card-header>
  
    <nb-card-body>
        <div class="form-row">
            <select class="col-md-1 ml-2 form-control" name="" id="status">
                <option [value]="f" *ngFor="let f of filter">{{f}}</option>
              </select>
        </div>
        <br>
        <table class="table table-bordered table-inverse">
            <thead class="thead-inverse">
                <tr>
                    <th>Tenant Name</th>
                    <th>Payment Type</th>
                    <th>Amount (GHS)</th>
                    <th>Period</th>
                    <th>Number</th>
                    <th class="text-center">Network</th>
                    <th>Payment Method</th>
                    <th>Description</th>
                    <th>Property</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of payments$ | async | paginate:{itemsPerPage: 15, currentPage: p};">
                        <td>{{p.tenantId?.firstname}}</td>
                        <td>{{p.purpose}}</td>
                        <td>{{p.amount | currency: 'GHS'}}</td>
                        <td>{{p.period}}</td>
                        <td>{{p.accountNumber}}</td>
                        <td class="text-center">
                            <span
                                class="badge badge-warning" 
                                *ngIf="p.accountIssuer===networkType.MTN"
                            >{{p.accountIssuer}}</span>
                            <span
                                class="badge badge-danger" 
                                *ngIf="p.accountIssuer===networkType.VODAFONE"
                            >{{p.accountIssuer}}</span>
                            <span
                                class="badge badge-primary" 
                                *ngIf="p.accountIssuer===networkType.AIRTELTIGO"
                            >{{p.accountIssuer}}</span>
                        </td>
                        <td>{{p.paymentType}}</td>
                        <td>{{p.description}}</td>
                        <td>{{p.property}}</td>
                        <td>{{p.createdAt|date}}</td>
                        <td>
                            <span *ngIf="p.status===tranStatus.PAID" class="badge badge-success">{{p.status}}</span>
                            <span *ngIf="p.status===tranStatus.FAILED" class="badge badge-danger">{{p.status}}</span>
                            <span *ngIf="p.status===tranStatus.PENDING" class="badge badge-warning">{{p.status}}</span>
                        </td>
                        <td>
                            <button (click)="delete(p._id)" class="btn btn-danger">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>

    </nb-card-body>
  </nb-card>