<div class="card p-2">
  <h3 class="p-2">Tenant Details</h3>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group" *ngIf="details">
        <li class="list-group-item row"  *ngFor="let tenant of details;let i=index;">
          <div class="col-md-5">
            {{tenant[0]}}:
          </div>
          <div class="col-md-6">
            <b>{{tenant[1]}}</b>
          </div>
        </li>
    </ul>
    </div>
    <div class="col-md-6">
      <img *ngIf="selected" [src]="selected.photo" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
    </div>
  </div>
</div>