<ng-container [formGroup]="formGroup">
  <div class="row">
    <div class="col-xl-3 d-flex grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-wrap justify-content-between">
            <h4 class="card-title mb-3">Expense Summary</h4>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="mb-5">
                <div class="mr-1">
                  <div class="text-info mb-1">
                    Total Earning
                  </div>
                  <h2 class="mb-2 mt-2 font-weight-bold">
                    {{ (state.summary$ | async)?.total | currency:'GHS' }}
                  </h2>
                  <div class="font-weight-bold">
                    1.4%  Since Last Year
                  </div>
                </div>
                <hr>
                <div class="mr-1">
                  <div class="text-info mb-1">
                    Total Count
                  </div>
                  <h2 class="mb-2 mt-2  font-weight-bold">
                    {{ (state.summary$ | async)?.count }}
                  </h2>
                  <div class="font-weight-bold">
                    5.43%  Since Last Year
                  </div>
                </div>
              </div>
              <canvas id="barChartStacked"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="col-xl-3 d-flex grid-margin stretch-card" formGroupName="category">
          <div class="card border">
            <div class="card-body">
              <h5 class="card-title">Add Expense Account</h5>
              <div class="form-group mb-3">
                  <label for="simpleinput">Name</label>
                  <input formControlName="name" type="text" id="simpleinput" class="form-control">
              </div>
              <div class="form-group mb-3">
                <label for="simpleinput">Description</label>
                <input formControlName="description" type="text" id="simpleinput" class="form-control">
            </div>
              <div class="form-group mb-3">
                <button [disabled]="loading" [ngSwitch]="loading" type="submit" class="btn btn-primary" (click)="saveCategory()">
                  <span *ngSwitchCase="false">save</span>
                  <div *ngSwitchCase="true" class="spinner-border"></div>
                </button>
              </div>
            </div>
          </div>
      </div>

      <div class="col-md-6 d-flex grid-margin stretch-card" formGroupName="expense">
        <div class="card border">
          <div class="card-body">
            <h5 class="card-title">Add Expense</h5>
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label for="simpleinput">Choose Account</label>
                  <select formControlName="category" class="form-control select2" id="simple-select2">
                      <option value="" selected>----</option>
                      <option *ngFor="let category of state.categories$ | async" [value]="category._id">
                        {{ category.name }}
                      </option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label for="simpleinput">Enter Amount</label>
                    <input formControlName="amount" type="number" id="simpleinput" class="form-control">
                  </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6">
                  <div class="form-group mb-3">
                      <label for="simpleinput">Tax</label>
                      <input formControlName="tax" type="number" id="simpleinput" class="form-control">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group mb-3">
                    <label for="simpleinput">Reference#</label>
                    <input formControlName="reference" type="text" id="simpleinput" class="form-control">
                  </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label for="simpleinput">Notes</label>
                  <textarea formControlName="notes" name="" id="" cols="30" rows="5" class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group col-md-6">
                  <label for="date-input1">Date Picker</label>
                  <div class="input-group">
                    <input formControlName="expenseDate" type="date" class="form-control drgpicker" id="date-input1" aria-describedby="button-addon2">
                  </div>
                </div>
            </div>
            <div class="form-row">
              <div class="form-group mb-3">
                <button 
                  [disabled]="loading" 
                  [ngSwitch]="loading" 
                  type="submit" class="btn btn-primary" (click)="saveExpense()">
                  <span *ngSwitchCase="false">save</span>
                  <div *ngSwitchCase="true" class="spinner-border"></div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- Bordered table -->
  </div>
  <div class="row">

    <div class="col-md-4 my-4">
      <nb-card>
        <nb-card-header>
          Expense Accounts
        </nb-card-header>
        <nb-card-body>
          <div class="">
            <div class="card-body">
              <div class="toolbar row mb-3">
                <div class="col ml-auto">
                  <div class="dropdown float-right">
                    <button class="btn btn-danger float-right ml-3" (click)="deleteCategory()" type="button">Delete Account</button>
                  </div>
                </div>
              </div>
              <table class="table table-bordered table-inverse">
                <thead class="thead-inverse">
                  <tr>
                    <th>
                      <div class="custom-control custom-checkbox">
                        <input disabled type="checkbox" class="custom-control-input" id="all">
                        <label class="custom-control-label" for="all"></label>
                      </div>
                    </th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Date</th>
                    <!-- <th>Activate</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let category of state.categories$ | async | paginate: { itemsPerPage: 20, currentPage: s };let i=index;">
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input (change)="onCheck($event.target,category._id)" type="checkbox" class="custom-control-input" [id]="category._id">
                        <label class="custom-control-label" [for]="category._id"></label>
                      </div>
                    </td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td>{{ category.createdAt | date }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
  
            <pagination-controls (pageChange)="s=$event"></pagination-controls>
  
          </div>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-md-8 my-4">
      <nb-card>
        <nb-card-header>
          Expenses
        </nb-card-header>
        <nb-card-body>
          <div class="">
            <div class="card-body">
              <div class="toolbar row mb-3">
                <div class="col-md-3 col-xl-4" formGroupName="filter">
                  <span class="small py-1 px-2 rounded mr-2 d-lg-inline">
                    <label class="mx-2"  for="">Choose Account</label>
                    <select formControlName="account" class="bg-white border py-1 px-2 rounded mr-2 d-lg-inline" name="" id="">
                      <option value="" selected>---</option>
                      <option [value]="account._id" *ngFor="let account of state.categories$ | async">
                        {{ account.name }}
                      </option>
                    </select>
                  </span>
                </div>
                <div class="col-md-4 col-xl-4">
                  <span class="small py-1 rounded mr-2 d-lg-inline">
                    <label class="mx-2"  for="">Choose Duration</label>
                    <select (change)="onDuration($event.target)"  class="bg-white border py-1 px-2 rounded mr-2 d-lg-inline" name="" id="">
                      <option value="" selected>---</option>
                      <option value="days">Today</option>
                      <option value="weeks">This Week</option>
                      <option value="months">This Month</option>
                      <option value="years">This Year</option>
                    </select>
                  </span>
                </div>
                <div class="col-md-2 col-xl-2">
                  <div class="dropdown float-right">
                    <button  [ngSwitch]="loading" class="btn btn-warning float-right ml-3" (click)="filter()" type="button">
                      <span *ngSwitchCase="false" class="fa fa-filter fa-16"></span>
                      <div *ngSwitchCase="true" class="spinner-border"></div>
                    </button>
                  </div>
                  <div class="dropdown float-right">
                    <button class="btn btn-danger float-right ml-3" (click)="deleteExpense()" type="button">
                      <span class="fa fa-trash fa-16"></span>
                    </button>
                  </div>
                </div>
              </div>
              <table class="table table-bordered table-inverse">
                <thead class="thead-inverse">
                  <tr>
                    <th>
                      <div class="custom-control custom-checkbox">
                        <input disabled type="checkbox" class="custom-control-input" id="all">
                        <label class="custom-control-label" for="all"></label>
                      </div>
                    </th>
                    <th>Expense Account</th>
                    <th>Tax</th>
                    <th>Reference#</th>
                    <th>Notes</th>
                    <th>Amount</th>
                    <th>Expense Date</th>
                    <th>Date Added</th>
                    <!-- <th>Remove</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let expense of state.expenses$ | async | paginate: { itemsPerPage: 15, currentPage: p };let i=index;">
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input (change)="onCheck($event.target,expense._id)" type="checkbox" class="custom-control-input" [id]="expense._id">
                        <label class="custom-control-label" [for]="expense._id"></label>
                      </div>
                    </td>
                    <td>{{ expense.category?.name }}</td>
                    <td>{{ expense.tax }}</td>
                    <td>{{ expense.reference }}</td>
                    <td>{{ expense.notes }}</td>
                    <td>{{ expense.amount | currency:'₵' }}</td>
                    <td>{{ expense.expenseDate | date }}</td>
                    <td>{{ expense.createdAt | date }}</td>
                    <!-- <td>
                      <div class="custom-control custom-checkbox">
                        <input (change)="operation.onCheck($event.target)" type="checkbox" [checked]="operation.checked">
                      </div>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
  
            <pagination-controls (pageChange)="p=$event"></pagination-controls>
  
          </div>
        </nb-card-body>
      </nb-card>
    </div>

    </div>
</ng-container>

