<div class="row">
  <div class="col-md-12">
    <div class="row justify-content-center" [formGroup]="formGroup">
      <div class="bg-white card-body col-md-12 border">
        <div class="form-group mb-3">
            <label for="simpleinput">Customer Name</label>
            <input formControlName="customerName" type="text" id="simpleinput" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label for="simpleinput">Customer Phone</label>
            <input formControlName="customerPhone" type=" tel" id="simpleinput" class="form-control">
        </div>
        <div class="form-group mb-3">
          <label for="simpleinput">Customer Address</label>
          <input formControlName="customerAddress" type="text" id="simpleinput" class="form-control">
      </div>
      <div class="form-group mb-3">
        <label for="simpleinput">Item</label>
        <input formControlName="item" type="text" id="simpleinput" class="form-control">
    </div>
    <div class="form-group mb-3">
      <label for="simpleinput">Description</label>
      <input formControlName="description" type="text" id="simpleinput" class="form-control">
  </div>
      <div class="form-group mb-3">
        <label for="simpleinput">Amount (GHS)</label>
        <input formControlName="amount" type="number" id="simpleinput" class="form-control">
    </div>
    <div class="form-group mb-3">
      <label for="simpleinput">Vat%</label>
      <input formControlName="vat" type="number" id="simpleinput" class="form-control">
  </div>
    <div class="form-group mb-3">
      <select formControlName="status" class="form-control select2-multi" id="multi-select2">
          <option value="">---</option>
          <option value="pending">Pending</option>
          <option value="paid">Paid</option>
      </select>
  </div>
    <div class="row mt-5">
        <div class="col-md-12">
          <div class="text-right mr-2">
            <p class="mb-2 h6">
              <span class="text-muted">Subtotal : </span>
              <strong>{{ formGroup.get('subtotal').value || 0 | currency:'₵' }}</strong>
            </p>
            <p class="mb-2 h6">
              <span class="text-muted">VAT (0%) : </span>
              <strong>{{ formGroup.get('vat').value }}%</strong>
            </p>
            <p class="mb-2 h6">
              <span class="text-muted">Total : </span>
              <span>{{ formGroup.get('total').value || 0 | currency:'₵' }}</span>
            </p>
          </div>
          <div class="form-group mb-3">
              <button (click)="save()" [disabled]="loading" [ngSwitch]="loading" type="submit" class="btn btn-primary">
                <span *ngSwitchCase="false">Save Invoice</span>
                <div *ngSwitchCase="true" class="spinner-border"></div>
              </button>
            </div>
        </div>
      </div> <!-- /.row -->
      </div>
  </div>
  </div>
</div>