<div class="row justify-content-center d-flex grid-margin stretch-card">
  <div class="col-md-4">
    <app-invoice-form></app-invoice-form>
  </div>
  <div class="col-md-8">
    <nb-card>
      <nb-card-header>
        Invoices
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-12 ">
            <table class="table table-bordered table-inverse">
              <thead class="table-inverse">
                <tr role="row">
                  <th>Customer</th>
                  <th>Sub Total</th>
                  <th>Vat</th>
                  <th>Total</th>
                  <th>Status</th>
                  <th>Date Paid</th>
                  <th>Date Created</th>
                  <th>View</th>
                </tr>
              </thead>
              <tbody>
                <div *ngIf="loading$ | async" class="d-flex justify-content-center my-3">
                  <div class="spinner-border"></div>
                </div>
                <tr *ngFor="let invoice of state.invoices$ | async | paginate: { itemsPerPage: 20, currentPage:p };let i=index">
                  <td>{{ invoice.customerName }}</td>
                  <td>{{ invoice.subtotal | currency:'₵' }}</td>
                  <td>{{ invoice.vat }}%</td>
                  <td>{{ invoice.total | currency:'₵' }}</td>
                  <td><span class="badge badge-warning">{{ invoice.status }}</span></td>
                  <td>{{ invoice.datePaid | date }}</td>
                  <td>{{ invoice.createdAt | date }}</td>
                  <td>
                    <button (click)="view(invoice)" class="btn btn-primary small">
                        <span class="fa fa-eye"></span>
                      </button>
                  </td>
                </tr>
              </tbody>
            </table>
        
            <pagination-controls (pageChange)="p=$event"></pagination-controls>
        
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
