<div class="row justify-content-center" *ngIf="state.selected$ | async as invoice">
    <div class="col-12 col-lg-10 col-xl-8">
      <div class="row align-items-center mb-4" id="hidden">
        <div class="col">
          <h2 class="h5 page-title"><small class="text-muted text-uppercase">Invoice</small><br /></h2>
        </div>
        <div class="col-auto">
          <button (click)="sendMoney()" type="button" class="btn btn-success mr-2">Send Money</button>
          <button (click)="print()" type="button" class="btn btn-secondary">Print</button>
          <button [disabled]="loading" (click)="pay(invoice._id)" type="button" class="btn btn-primary mx-2">Pay</button>
        </div>
      </div>
      <div class="card border" id="section-to-print">
        <div class="card-body p-5">
          <div class="row mb-5">
            <div class="col-12 text-center mb-4">
              <img src="../../../assets/img/logo.jpeg" class="navbar-brand-img brand-sm mx-auto mb-4" alt="...">
              <h2 class="mb-0 text-uppercase">Invoice</h2>
              <!-- <p class="text-muted"> {{ invoice.bay?.name }}<br /> {{ invoice.bay?.address }} </p> -->
            </div>
            <div class="col-md-7">
              <p class="small text-muted text-uppercase mb-2">Invoice from</p>
              <p class="mb-4">
                <strong>{{ invoice.user?.fname }} {{ invoice.user?.lname }}</strong><br /> {{ invoice.bay?.name }}<br /> {{ invoice.bay?.location }}<br /> {{ invoice.user?.phone }}<br />
              </p>
              <p>
                <span class="small text-muted text-uppercase">Invoice #</span><br />
                <strong>{{invoice._id}}</strong>
              </p>
            </div>
            <div class="col-md-5">
              <p class="small text-muted text-uppercase mb-2">Invoice to</p>
              <p class="mb-4">
                <strong>{{ invoice.customerName }}</strong><br /> {{ invoice.customerPhone }}<br /> {{ invoice.customerAddress }}
              </p>
              <p>
                <small class="small text-muted text-uppercase">Due date</small><br />
                <strong>{{ invoice.createdAt | date }}</strong>
              </p>
            </div>
          </div> <!-- /.row -->
          <table class="table table-borderless table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Item</th>
                <th scope="col">Description</th>
                <th scope="col" class="text-right">Quantity</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>{{ invoice.item }}<br /></td>
                <td>{{ invoice.description }}</td>
                <td class="text-right">{{ invoice.quantity }}</td>
              </tr>
            </tbody>
          </table>
          <div class="row mt-5">
            <div class="col-md-12">
              <div class="text-right mr-2">
                <p class="mb-2 h6">
                  <span class="text-muted">Subtotal : </span>
                  <strong>{{invoice.subtotal | currency:'₵'}}</strong>
                </p>
                <p class="mb-2 h6">
                  <span class="text-muted">VAT (0%) : </span>
                  <strong>{{invoice.vat}}%</strong>
                </p>
                <p class="mb-2 h6">
                  <span class="text-muted">Total : </span>
                  <span>{{invoice.total | currency:'₵'}}</span>
                </p>
                <p class="mb-2 h6">
                  <span class="text-muted">Amount Paid : </span>
                  <span>{{invoice.amountPaid || 0 | currency:'₵'}}</span>
                </p>
              </div>
            </div>
          </div> <!-- /.row -->
        </div> <!-- /.card-body -->
      </div> <!-- /.card -->
    </div> <!-- /.col-12 -->
  </div> <!-- .row -->