 <ng-container *ngIf="filter.dashboard$ | async as dashboard">
     <div class="row">
    
       <div class="col-xl-3 d-flex grid-margin stretch-card" *ngIf="dashboard.today">
           <div class="card">
             <div class="card-body">
               <div class="d-flex flex-wrap justify-content-between">
                 <h4 class="card-title mb-3">TODAY</h4>
               </div>
               <div class="row">
                 <div class="col-12">
                   <div class="mb-5">
                     <div class="mr-1">
                       <div class="text-info mb-1">
                         Total Earning
                       </div>
                       <h2 class="mb-2 mt-2 font-weight-bold">{{dashboard.today.length>0 && dashboard.today[0].total || 0 | currency:'GHS'}}</h2>
                       <div class="font-weight-bold">
                       </div>
                     </div>
                     <hr>
                     <div class="mr-1">
                       <div class="text-info mb-1">
                         Total Earning
                       </div>
                       <h2 class="mb-2 mt-2  font-weight-bold">{{dashboard.today.length>0 && dashboard.today[0].count || 0}}</h2>
                       <div class="font-weight-bold">
                       </div>
                     </div>
                   </div>
                   <canvas id="barChartStacked"></canvas>
                 </div>
               </div>
             </div>
           </div>
         </div>
       
       <div class="col-xl-3 d-flex grid-margin stretch-card">
           <div class="card">
             <div class="card-body">
               <div class="d-flex flex-wrap justify-content-between">
                 <h4 class="card-title mb-3">THIS WEEK</h4>
               </div>
               <div class="row">
                 <div class="col-12">
                   <div class="mb-5">
                     <div class="mr-1">
                       <div class="text-info mb-1">
                         Total Earning
                       </div>
                       <h2 class="mb-2 mt-2 font-weight-bold">{{dashboard.week.length>0 && dashboard.week[0].total || 0 | currency:'GHS'}}</h2>
                       <div class="font-weight-bold">
                       </div>
                     </div>
                     <hr>
                     <div class="mr-1">
                       <div class="text-info mb-1">
                         Total Count
                       </div>
                       <h2 class="mb-2 mt-2  font-weight-bold">{{dashboard.week.length>0 && dashboard.week[0].count || 0 }}</h2>
                       <div class="font-weight-bold">
                       </div>
                     </div>
                   </div>
                   <canvas id="barChartStacked"></canvas>
                 </div>
               </div>
             </div>
           </div>
         </div>
    
       <div class="col-xl-3 d-flex grid-margin stretch-card">
         <div class="card">
           <div class="card-body">
             <div class="d-flex flex-wrap justify-content-between">
               <h4 class="card-title mb-3">THIS MONTH</h4>
             </div>
             <div class="row">
               <div class="col-12">
                 <div class="mb-5">
                   <div class="mr-1">
                     <div class="text-info mb-1">
                       Total Earning
                     </div>
                     <h2 class="mb-2 mt-2 font-weight-bold">{{dashboard.month.length>0 && dashboard.month[0].total || 0  | currency:'GHS'}}</h2>
                     <div class="font-weight-bold">
                     </div>
                   </div>
                   <hr>
                   <div class="mr-1">
                     <div class="text-info mb-1">
                       Total Count
                     </div>
                     <h2 class="mb-2 mt-2  font-weight-bold">{{dashboard.month.length>0 && dashboard.month[0].count || 0 }}</h2>
                     <div class="font-weight-bold">
                     </div>
                   </div>
                 </div>
                 <canvas id="barChartStacked"></canvas>
               </div>
             </div>
           </div>
         </div>
       </div>
    
       <div class="col-xl-3 d-flex grid-margin stretch-card">
           <div class="card">
             <div class="card-body">
               <div class="d-flex flex-wrap justify-content-between">
                 <h4 class="card-title mb-3">THIS YEAR</h4>
               </div>
               <div class="row">
                 <div class="col-12">
                   <div class="mb-5">
                     <div class="mr-1">
                       <div class="text-info mb-1">
                         Total Earning
                       </div>
                       <h2 class="mb-2 mt-2 font-weight-bold">{{dashboard.year.length>0 && dashboard.year[0].total || 0  | currency:'GHS'}}</h2>
                       <div class="font-weight-bold">
                       </div>
                     </div>
                     <hr>
                     <div class="mr-1">
                       <div class="text-info mb-1">
                         Total Count
                       </div>
                       <h2 class="mb-2 mt-2  font-weight-bold">{{dashboard.year.length>0 && dashboard.year[0].count || 0 }}</h2>
                       <div class="font-weight-bold">
                       </div>
                     </div>
                   </div>
                   <canvas id="barChartStacked"></canvas>
                 </div>
               </div>
             </div>
           </div>
         </div>
    
     </div>
     
     <div class="row">
       <div class="col-lg-12 d-flex grid-margin stretch-card">
         <div class="card">
           <div class="card-body">
             <div class="d-flex flex-wrap justify-content-between">
               <h4 class="card-title mb-3">Transaction Analytics</h4>
             </div>
             <div class="row">
               <div class="col-lg-3" *ngIf="filter.invoiceSummary$ | async as invoice">
                <div class="col-xl-12 d-flex grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex flex-wrap justify-content-between">
                          <h4 class="card-title mb-3">TOTAL INVOICES</h4>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="mb-5">
                              <div class="mr-1">
                                <div class="text-info mb-1">
                                  Total Earning
                                </div>
                                <h2 class="mb-2 mt-2 font-weight-bold">{{invoice.all.length>0 && invoice.all[0].amount || 0 | currency:'GHS'}}</h2>
                                <div class="font-weight-bold">
                                </div>
                              </div>
                              <hr>
                              <div class="mr-1">
                                <div class="text-info mb-1">
                                  Total Count
                                </div>
                                <h2 class="mb-2 mt-2  font-weight-bold">{{invoice.all.length>0 && invoice.all[0].count || 0 }}</h2>
                                <div class="font-weight-bold">
                                </div>
                              </div>
                            </div>
                            <canvas id="barChartStacked"></canvas>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
 
            </div>
               <div class="col-lg-3" *ngIf="filter.expenseSummary$ | async as expense">
                <div class="col-xl-12 d-flex grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex flex-wrap justify-content-between">
                          <h4 class="card-title mb-3">TOTAL EXPENSES</h4>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="mb-5">
                              <div class="mr-1">
                                <div class="text-info mb-1">
                                  Total Earning
                                </div>
                                <h2 class="mb-2 mt-2 font-weight-bold">{{expense.all.length>0 && expense.all[0].amount || 0  | currency:'GHS'}}</h2>
                                <div class="font-weight-bold">
                                </div>
                              </div>
                              <hr>
                              <div class="mr-1">
                                <div class="text-info mb-1">
                                  Total Count
                                </div>
                                <h2 class="mb-2 mt-2  font-weight-bold">{{expense.all.length>0 && expense.all[0].count || 0 }}</h2>
                                <div class="font-weight-bold">
                                </div>
                              </div>
                            </div>
                            <canvas id="barChartStacked"></canvas>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
 
            </div>
               <div class="col-lg-3" >
                   <div class="col-xl-12 d-flex grid-margin stretch-card">
                       <div class="card">
                         <div class="card-body">
                           <div class="d-flex flex-wrap justify-content-between">
                             <h4 class="card-title mb-3">TOTAL PAYMENTS</h4>
                           </div>
                           <div class="row">
                             <div class="col-12">
                               <div class="mb-5">
                                 <div class="mr-1">
                                   <div class="text-info mb-1">
                                     Total Earning
                                   </div>
                                   <h2 class="mb-2 mt-2 font-weight-bold">{{dashboard.all.length>0 && dashboard.all[0].amount || 0  | currency:'GHS'}}</h2>
                                   <div class="font-weight-bold">
                                   </div>
                                 </div>
                                 <hr>
                                 <div class="mr-1">
                                   <div class="text-info mb-1">
                                     Total Count
                                   </div>
                                   <h2 class="mb-2 mt-2  font-weight-bold">{{dashboard.all.length>0 && dashboard.all[0].count || 0 }}</h2>
                                   <div class="font-weight-bold">
                                   </div>
                                 </div>
                               </div>
                               <canvas id="barChartStacked"></canvas>
                             </div>
                           </div>
                         </div>
                       </div>
                     </div>
    
               </div>
               
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="col-lg-4 d-flex grid-margin stretch-card">
         <div class="card">
           <div class="card-body">
             <div class="d-flex flex-wrap justify-content-between">
               <h4 class="card-title mb-3">Transaction Analysis Trend</h4>
             </div>
             <div class="mt-2" *ngFor="let item of dashboard.paymentType;let i=index">
               <div class="d-flex justify-content-between">
                 <small>{{item._id}}</small>
                 <small>{{ item.total | currency:'GHS' }}</small>
               </div>
               <div class="progress progress-md  mt-2">
                 <div class="progress-bar colors[i]" role="progressbar" style="width: 80%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
               </div>
             </div>
             <canvas id="salesTopChart"></canvas>
           </div>
         </div>
       </div>
       <div class="col-lg-8 d-flex grid-margin stretch-card">
         <div class="card">
           <div class="card-body">
             <div class="d-flex flex-wrap justify-content-between">
               <h4 class="card-title mb-3">Recent Transactions</h4>
             </div>
             <div class="table-responsive">
                <table class="table table-bordered table-inverse">
                    <thead class="thead-inverse">
                        <tr>
                            <th>
                                <input disabled type="checkbox" name="" id="">
                            </th>
                            <th>Tenant Name</th>
                            <th>Payment Type</th>
                            <th>Amount (GHS)</th>
                            <th>Period</th>
                            <th>Number</th>
                            <th class="text-center">Network</th>
                            <th>Payment Method</th>
                            <th>Description</th>
                            <th>Property</th>
                            <th>Date</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of dashboard.transactions[0]?.items;">
                                <td scope="row">
                                    <input type="checkbox">
                                </td>
                                <td>{{p.tenantId?.firstname}}</td>
                                <td>{{p.purpose}}</td>
                                <td>{{p.amount | currency: 'GHS'}}</td>
                                <td>{{p.period}}</td>
                                <td>{{p.accountNumber}}</td>
                                <td class="text-center">
                                    <span
                                        class="badge badge-warning" 
                                        *ngIf="p.accountIssuer===networkType.MTN"
                                    >{{p.accountIssuer}}</span>
                                    <span
                                        class="badge badge-danger" 
                                        *ngIf="p.accountIssuer===networkType.VODAFONE"
                                    >{{p.accountIssuer}}</span>
                                    <span
                                        class="badge badge-primary" 
                                        *ngIf="p.accountIssuer===networkType.AIRTELTIGO"
                                    >{{p.accountIssuer}}</span>
                                </td>
                                <td>{{p.paymentType}}</td>
                                <td>{{p.description}}</td>
                                <td>{{p.property}}</td>
                                <td>{{p.createdAt|date}}</td>
                                <td>
                                    <span *ngIf="p.status===tranStatus.PAID" class="badge badge-success">{{p.status}}</span>
                                    <span *ngIf="p.status===tranStatus.FAILED" class="badge badge-danger">{{p.status}}</span>
                                    <span *ngIf="p.status===tranStatus.PENDING" class="badge badge-warning">{{p.status}}</span>
                                </td>
                            </tr>
                        </tbody>
                </table>
             </div>
           </div>
         </div>
       </div>
     </div>
 </ng-container>
 